---
import MyHeader from '../components/MyHeader.astro'
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---
<meta charset="UTF-8">
<html>
	<MyHeader/>
	<body>
		<div style="j  display: block;margin-left: auto;margin-right: auto; width:30%; height:50%; ">
			<LottieAnimation src='../../public/Animation - 1721330951903.json' autoplay="visible"/>
		</div>
	</body>
</html>
