---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<div class="container">
    <LottieAnimation src='../../public/Animation - 1721330951903.json' autoplay="visible" />
</div>